{% extends 'layouts/mainLayout.html' %}
{% block title %}
Sales
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-end mb-3">
    <div class="col-md-4 position-relative">
      <form method="get">
        <div class="input-group">
          <input type="search" class="form-control form-control-lg" placeholder="Search" name="search"
            id="search-input">
          <div class="input-group-append">
            <button type="submit" class="btn btn-lg btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <ul id="suggestions" class="list-group position-absolute" style="top: 100%; z-index: 1000; width: 100%;"></ul>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Photo</th>
        <th>Brand</th>
        <th>Model Name</th>
        <th>MRP</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr data-widget="expandable-table" aria-expanded="false"
        class="{% if stock.isAvailable %}{% else %}bg-secondary{% endif %}">
        <td>{{ stock.id }}</td>
        <td>
          <img src="{{ stock.photo.url }}" alt="" height="110" width="155">
          {% if not stock.isAvailable %}[OUT OF STOCK]{% endif %}
        </td>
        <td>{{ stock.brand }}</td>
        <td><a href="{% url 'salesStockDetails' stock.id %}">{{ stock.model_name }}</a></td>
        <td>{{ stock.MRP }}</td>
        <td>
          <a href="{% url 'editSalesStock' stock.id %}"><i class="fas fa-edit"></i></a>
        </td>
        <td>
          <form action="{% url 'deleteSalesStock' stock.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-link" style="border:none; padding:0;">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}