{% extends 'layout.html' %}
{% block title %}
  ADMIN Login
{% endblock %}
{% block content %}
  <div class="login-box">
    <div class="login-logo">
      <b>Admin</b>LTE
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="name" class="form-control" placeholder="Name" name="name" value="{{ username|default_if_none:'' }}" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
        </form>
      </div>
      <div class="container">
        <!-- Display messages from Django messages framework -->
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
{% endblock %}
