{% extends 'pageLayouts.html' %}
{% block title %}
  Sales
{% endblock %}
{% block content %}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Photo</th>
        <th>Brand</th>
        <th>ModelName</th>
        <th>MRP</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
        <tr data-widget="expandable-table" aria-expanded="false" class="{% if stock.isAvailable %}{% else %}bg-secondary{% endif %}">
          <td>{{ stock.id }}</td>
          <td><img src="{{ stock.photo.url }}" alt="">{% if stock.isAvailable %}{% else %}[OUT OF STOCK]{% endif %}</td>
          <td>{{ stock.brand }}</td>
          <td><a href="{% url 'saleDetail' stock.id %}">{{ stock.model_name }}</a></td>
          <td>{{ stock.MRP }}</td>
          <td>
            <a href="{% url 'editSales' stock.id %}"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a href="{% url 'deleteSales' stock.id %}"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
